<div class="container">
	

	<div class="row">
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img src="https://avatars2.githubusercontent.com/u/5658148?v=4&s=400&u=8f6cde21c3c7333cb415f0759284aa6a4978e789" alt="..." width="242" height="200" class="img-circle">
				<div class="caption">
					<h3>Pedro Coelho</h3>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img src="https://avatars2.githubusercontent.com/u/9454375?v=4&s=460" alt="..." width="242" height="200" class="img-circle">
				<div class="caption">
					<h3>Pedro Cavalcante</h3>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img src="https://avatars2.githubusercontent.com/u/23128983?v=4&s=460" alt="..." width="242" height="200" class="img-circle">
				<div class="caption">
					<h3>Allan Gonçalves</h3>
				</div>
			</div>
		</div>
	</div>
</div>