<div class="col-md-12">
	<div class="row">
		<h1>Deputados mais produtivos</h1>
		<hr>
	</div>
	<div class="row">
		<div class="well">
			<div class="form-inline">
				<div class="form-group">
					
					<label for="">
						<h4>Filtrar por estado: </h4>
					</label>
					<select name="" id="" class="form-control">
						<option value="" selected="" disabled>Selecione...</option>
						<option value="">Rio grande do norte</option>
						<option value="">Rio de janeiro</option>
					</select>

					<label for="">
						<h4>Filtrar por região: </h4>
					</label>
					<select name="" id="" class="form-control">
						<option value="" selected="" disabled>Selecione...</option>	
						<option value="">Rio grande do norte</option>
						<option value="">Rio de janeiro</option>
					</select>
				</div>
			</div>
		</div>
		<div class="jumbotron">
			<h2>Deputado fulano de tal</h2>
			<p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
			<p>
				---- Chart vai aqui ---- 
			</p>
			<p>
				<a href="" class="btn btn-primary">Detalhes</a>
			</p>
		</div>
		<div class="jumbotron">
			<h2>Deputado fulano de tal</h2>
			<p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
			<p>
				---- Chart vai aqui ---- 
			</p>
			<p>
				<a href="" class="btn btn-primary">Detalhes</a>
			</p>
		</div>
	</div>
		
</div>			
		
